body {
  margin: 2px;
  font-family: "Kanit", sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 45px;
}
.first-division {
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 13% 20%;
}

.first-division p {
  padding-bottom: 20px;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background-color: rgb(60, 195, 248);
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 20px;
}
.SecondPart-Donate-Today {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.donate-today p {
  font-weight: 400;
  font-size: 20px;
  color: rgba(95, 95, 95, 0.925);
}
.amounts {
  display: flex;
  justify-content: center;
}
.amounts p {
  font-size: 30px;
  padding: 20px 20px;
  margin: 40px 10px;
  color: rgb(105, 105, 105);
}
#tk500 {
  border: 2px solid skyblue;
  background-color: rgba(114, 198, 247, 0.281);
  border-radius: 4px;
}
#other-amount {
  text-align: center;
  font-family: "Kanit", sans-serif;
  padding: 10px 220px;
  background-color: transparent;
  border-top: 0px solid;
  border-right: 0px solid;
  border-left: 0px solid;
  border-bottom: 1px solid rgb(151, 150, 150);
  margin-bottom: 30px;
}
.donate-plan {
  text-align: center;
}
.donate-plan h2 {
  margin-bottom: 0px;
}
.donate-plan p {
  font-weight: 400;
  font-size: 20px;
  color: rgba(95, 95, 95, 0.925);
}
.ThirdPart-DonationPlan {
  display: flex;
  padding: 20px 70px;
  margin-bottom: 50px;
}
.plans-of-donation {
  padding: 50px 40px;
  margin: 0px 10px;
}
#food {
  background-color: rgba(222, 184, 135, 0.548);
}
#shelter {
  background-color: rgba(135, 207, 235, 0.582);
}
#medicine {
  background-color: rgba(255, 68, 0, 0.5);
}
.blogpost1 {
  display: flex;
  padding: 50px 80px;
}
.blog1 {
  width: 50%;
}
#Need-us {
  margin-right: 50px;
}
.blog1 p {
  margin-bottom: 50px;
}
.blog1 img {
  width: 100%;
  margin-top: 50px;
  border-radius: 10px;
}
#Want-Peace {
  margin-left: 50px;
}
.get-my-update {
  margin-bottom: 100px;
}
.heading,
.email {
  text-align: center;
}
.heading h1 {
  margin-bottom: 0px;
}
.email {
  background-color: rgb(253, 235, 212);
  padding: 90px 0px;
  margin: 20px 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#Email {
  color: rgba(100, 98, 98, 0.822);
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  background-color: rgba(160, 160, 160, 0.5);
  border: 0px solid;
  border-radius: 5px 0px 0px 5px;
  padding: 15px 10px;
  width: 40%;
}
#Subscribe {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  padding: 15px 25px;
  border: 0px solid;
  color: rgb(255, 255, 255);
  background-color: rgb(60, 195, 248);
  border-radius: 0px 5px 5px 0px;
}
footer {
  text-align: center;
  background-color: rgb(59, 59, 59);
  padding: 50px 0px;
}
footer h3 {
  color: skyblue;
  font-size: 30px;
  margin-bottom: 0px;
  font-family: "Fredoka One", cursive;
}
footer p {
  font-weight: 400;
  color: white;
}
